@import "tailwindcss";

@theme {
  --color-slate-50: #F8FAFC;
  --color-slate-100: #F1F5F9;
  --color-slate-200: #E2E8F0;
  --color-slate-400: #94A3B8;
  --color-slate-500: #64748B;
  --color-slate-700: #334155;
  --color-slate-900: #0F172A;

  --color-indigo-50: #EEF2FF;
  --color-indigo-200: #C7D2FE;
  --color-indigo-500: #6366F1;
  --color-indigo-600: #4F46E5;
  --color-indigo-800: #3730A3;

  --color-amber-50: #FFFBEB;
  --color-amber-200: #FDE68A;
  --color-amber-500: #F59E0B;
  --color-amber-600: #D97706;

  --color-emerald-50: #ECFDF5;
  --color-emerald-500: #10B981;

  --color-orange-50: #FFF7ED;
  --color-orange-500: #F97316;

  --color-rose-50: #FFF1F2;
  --color-rose-500: #F43F5E;
}

body {
  background-color: var(--color-slate-50);
  color: var(--color-slate-700);
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-image:
    linear-gradient(to right, var(--color-slate-200) 1px, transparent 1px),
    linear-gradient(to bottom, var(--color-slate-200) 1px, transparent 1px);
  background-size: 40px 40px;
}